services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web/static
      - dev-media-data:/vol/web/media
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME:-db-name}
      - DB_USER=${DB_USER:-db-user}
      - DB_PASS=${DB_PASS:-changeme}
      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DEBUG=1
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME:-db-name}
      - POSTGRES_USER=${DB_USER:-db-user}
      - POSTGRES_PASSWORD=${DB_PASS:-changeme}

volumes:
  dev-db-data:
  dev-static-data:
  dev-media-data:
